
<div class="flex row line-item ">
  <div class="flex col top line-item-image">
    <div class="flex">
      {% render 'image-element', image: line_item.image, aspect_ratio: 1, fit: 'cover', sizes: "100px" %}
    </div>
  </div>
  <div class="flex col full-width">
    <div class="flex row space-between full-width">
      <div class="flex col">
        <div class="flex col">
          <p class="h6 spacing-bottom-2xs">{{ line_item.product.title }}</p>
          {% unless line_item.product.has_only_default_variant %}
            <div class="flex row middle line-item-options spacing-bottom-2xs">
              {% for option in line_item.variant.options %}
                {% assign option_name = line_item.product.options_with_values[forloop.index0].name %}
                <p class="p">
                  <span>{{ option_name }}</span>:&nbsp;<span>{{ option.name }}</span>
                </p>
                {% unless forloop.last %}
                  <div class="line-item-divider"></div>
                {% endunless %}
              {% endfor %}
            </div>
          {% endunless %}
          <div class="line-item-discount-applications spacing-bottom-s">
            {% for discount_allocation in line_item.line_level_discount_allocations %}
              
                <div class="discount-application flex row middle {% unless forloop.last %}spacing-bottom-2xs{% endunless %}">
                  {% render 'icon', icon: 'discount', size: "18px" %}
                  <p class="small">{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.discount_application.total_allocated_amount | money }})</p>
                </div>
            {% endfor %}
          </div>
        </div>
        <div class="spacing-bottom-xs">
          <quantity-rocker
            class="p"
            {% unless line_item.variant.inventory_management == nil %}
              {% assign inventory_quantity = line_item.variant.inventory_quantity | at_most: 999 %}
              {% if inventory_quantity < 0 %}
                {% assign inventory_quantity = 999 %}
              {% endif %}
              min="0"
              max="{{ inventory_quantity }}"
            {% endunless %}
            value="{{ line_item.quantity }}"
            name="updates[]"
            data-line-item-key="{{ line_item.key }}">
          </quantity-rocker>
        </div>
        
      </div>
      <div class="flex row right" style="--gap:10px;">
        <div class="flex col right">
          <p class="p">
            {% assign highest_price = line_item.original_price %}
            {% if highest_price < line_item.variant.compare_at_price %}
              {% assign highest_price = line_item.variant.compare_at_price %}
            {% endif %}
            {% if highest_price < line_item.variant.price %}
              {% assign highest_price = line_item.variant.price %}
            {% endif %}
            {% if line_item.final_price != highest_price %}
              <span class="line-item-price-original">{{ highest_price | money }}</span>
            {% endif %}
          </p>
          <p class="p">
            <span class="line-item-price-final {% if line_item.final_price != highest_price %}line-item-price-final--discounted{% endif %}">
              {{- line_item.final_price | money -}}
            </span>
          </p>
        </div>
        <div class="flex col">
          <a href="{{ line_item.url_to_remove }}" data-line-item-key="{{ line_item.key }}" name="line-item-remove">
            {% render 'icon', icon: 'delete' %}
          </a>
        </div>
      </div>
    </div>
    {% if line_item.item_components.size > 0 %}
        <collapsible-outer 
          class=""
          {{ block.shopify_attributes }}>
          <collapsible-label class="full-width flex row spacing-bottom-xs">
            <div class="collapsible-icon">
              <div class="collapsible-icon--open flex row middle">
                <p class="p">{{ "cart.line_item.show_items" | t: count: line_item.item_components.size }}</p>
                {% render 'icon', icon: 'chevron-down', size: "14px" %}
              </div>
              <div class="collapsible-icon--close flex row middle">
                <p class="p">{{ "cart.line_item.hide_items" | t: count: line_item.item_components.size }}</p>
                {% render 'icon', icon: 'chevron-up', size: "14px" %}
              </div>
            </div>
          </collapsible-label>
          <collapsible-content class="flex col line-item-components">
            {% for component in line_item.item_components %}
              {% render 'line-component', component: component  %}
            {% endfor %}
          </collapsible-content>
        </collapsible-outer>
    {% endif %}
  </div>
</div>