
<div class="flex row line-item ">
  <div class="line-item-image">
    {% render 'image-element', image: component.image, aspect_ratio: 1, fit: 'cover', sizes: "100px" %}
  </div>
  <div class="flex row space-between full-width">
    <div class="flex col space-between">
      <div class="flex col">
        <p class="h6 spacing-bottom-2xs">{{ component.product.title }}</p>
        {% unless component.product.has_only_default_variant %}
          <div class="flex row middle line-item-options spacing-bottom-2xs">
            {% for option in component.variant.options %}
              {% assign option_name = component.product.options_with_values[forloop.index0].name %}
              <p class="p">
                <span>{{ option_name }}</span>:&nbsp;<span>{{ option.name }}</span>
              </p>
              {% unless forloop.last %}
                <div class="line-item-divider"></div>
              {% endunless %}
            {% endfor %}
          </div>
        {% endunless %}
      </div>
     
    </div>
    <div class="flex col space-between between right">
      <p class="p">
        {% assign highest_price = component.original_price %}
        {% if highest_price < component.variant.compare_at_price %}
          {% assign highest_price = component.variant.compare_at_price %}
        {% endif %}
        {% if highest_price < component.variant.price %}
          {% assign highest_price = component.variant.price %}
        {% endif %}
        {% if component.final_price != highest_price %}
          <span class="line-item-price-original">{{ highest_price | money }}</span>
        {% endif %}
        <span class="line-item-price-final {% if component.final_price != highest_price %}line-item-price-final--discounted{% endif %}">
          {{- component.final_price | money -}}
        </span>
      </p>
    </div>
  </div>
</div>