{% liquid
  assign product = block.settings.product | default: product
%}
<div
  class="{{ block.settings.size | class_list }} {{ block.settings.spacing | class_list }}"
  {{ block.shopify_attributes }}
>
  {% style %}
    #ProductSubmitButton-{{ section.id }}-{{ product.id }} {
      border: 1px solid rgb(var(--color-secondary-button-text));
      background: rgba(var(--color-secondary-button), 1);
      color: rgb(var(--color-secondary-button-text));
    }
  {% endstyle %}

  {%- if product != blank -%}
    {%- assign product_form_id = 'product-form-' | append: section.id | append: product.id | append: block.id -%}

    <product-form data-section="{{ section.id }}{{ product.id }}">
      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          {% if product.selected_or_first_available_variant.available == false %}
            disabled
          {% endif %}
        >
        <input
          type="hidden"
          name="quantity"
          value="1"
          min="1"
          {% if product.selected_or_first_available_variant.available == false %}
            disabled
          {% endif %}
        >

        <div class="{{ block.settings.layout | class_list }} product-form__buttons">
          <button
            id="ProductSubmitButton-{{ section.id }}-{{ product.id }}"
            class="button button--add-to-cart"
            type="submit"
            name="add"
            {% if product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
            <span>
              {%- if product.selected_or_first_available_variant.available == false -%}
                Sold out
              {%- else -%}
                Add to cart
              {%- endif -%}
            </span>
          </button>

          {%- if block.settings.show_dynamic_checkout -%}
            {{ form | payment_button }}
          {%- endif -%}
        </div>
      {%- endform -%}
    </product-form>
  {%- else -%}
    <div class="product-form">
      <div class="product-form__buttons form">
        <button
          type="submit"
          name="add"
          class="product-form__submit button button--add-to-cart button--primary"
          disabled
        >
          No product!
        </button>
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Product (buy buttons)",
  "tag": null,
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "show_dynamic_checkout",
      "label": "Show dynamic checkout buttons",
      "default": true
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "100%",
        "flex-grow": "1"
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    },
    {
      "type": "style.layout_panel",
      "id": "layout",
      "label": "Layout",
      "default": {
        "flex-direction": "column",
        "gap": "10px"
      }
    }
  ],
  "presets": [{ "name": "Product (buy buttons)" }]
}
{% endschema %}
