{% liquid
  assign product = block.settings.product
%}

{% stylesheet %}
  .product-form__buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .button--add-to-cart {
    border-radius: 4px;
    padding-block: 12px;
    padding-inline: 12px;
  }

  .product-form__buttons > * {
    width: 100%;
  }
  .button--product-submit {
    border: 1px solid rgb(var(--color-secondary-button-text));
    background: rgba(var(--color-secondary-button), 1);
    color: rgb(var(--color-secondary-button-text));
  }

  .shopify-payment-button .shopify-payment-button__button {
    width: 100%;
    line-height: normal;
    padding-block: 12px;
  }

  .shopify-payment-button__button.shopify-payment-button__button--unbranded:hover:not([disabled]) {
    background-color: rgba(var(--color-button), 0.9);
  }

  .shopify-payment-button__more-options.shopify-payment-button__button--hidden {
    display: none;
  }
{% endstylesheet %}

<div
  class="{{ block.settings.size | class_list }} {{ block.settings.spacing | class_list }}"
  {{ block.shopify_attributes }}
>
  {%- if product != blank -%}
    {%- assign product_form_id = 'product-form-' | append: section.id -%}

    <form id="{{ product_form_id }}">
      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          {% if product.selected_or_first_available_variant.available == false %}
            disabled
          {% endif %}
        >

        <div class="{{ block.settings.layout | class_list }} product-form__buttons">
          <button
            id="ProductSubmitButton-{{ section.id }}-{{ product.id }}"
            class="button button--add-to-cart button--product-submit"
            type="submit"
            name="add"
            {% if product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
            <span>
              {%- if product.selected_or_first_available_variant.available == false -%}
                Sold out
              {%- else -%}
                Add to cart
              {%- endif -%}
            </span>
          </button>

          {%- if block.settings.show_dynamic_checkout -%}
            {{ form | payment_button }}
          {%- endif -%}
        </div>
      {%- endform -%}
    </form>
  {%- else -%}
    <div class="product-form">
      <div class="product-form__buttons form">
        <button
          type="submit"
          name="add"
          class="product-form__submit button button--add-to-cart button--primary"
          disabled
        >
          Sold out
        </button>
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Product (buy buttons)",
  "tag": null,
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "show_dynamic_checkout",
      "label": "Show dynamic checkout buttons",
      "default": true
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "100%",
        "flex-grow": "1"
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    },
    {
      "type": "style.layout_panel",
      "id": "layout",
      "label": "Layout",
      "default": {
        "flex-direction": "column",
        "gap": "10px"
      }
    }
  ],
  "presets": [
    {
      "name": "Product (buy buttons)",
      "settings": { "product": "{{ closest.product }}" }
    }
  ]
}
{% endschema %}
