<h2
  class="title-block {{ block.settings | class_list }} {{ block.settings.heading_size }} text-{{ block.settings.alignment }}"
  {{ block.shopify_attributes }}
>
  {{ block.settings.collection.title | default: 'Example collection title' }}
</h2>

{% schema %}
{
  "name": "Collection (title)",
  "tag": null,
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Size",
      "options": [
        {
          "value": "h5",
          "label": "Extra Small"
        },
        {
          "value": "h4",
          "label": "Small"
        },
        {
          "value": "h3",
          "label": "Medium"
        },
        {
          "value": "h2",
          "label": "Large"
        },
        {
          "value": "h1",
          "label": "Extra Large"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "auto",

        "@media (--mobile)": {
          "width": "100%"
        }
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    }
  ],
  "presets": [
    {
      "name": "Collection (title)",
      "settings": {
        "collection": "{{ closest.collection }}"
      }
    }
  ]
}
{% endschema %}
