<div
  class="{{ block.settings | class_list }} resource-card resource-card-{{ block.id }}"
  {{ block.shopify_attributes }}
>
  {% style %}
    .resource-card-{{ block.id }} img {
      aspect-ratio: {{ block.settings.ratio }};
    }
  {% endstyle %}

  {%- if block.settings.collection != blank -%}
    <div class="resource-card__image-wrapper">
      {%- if block.settings.collection.featured_image -%}
        {{
          block.settings.collection.featured_image
          | image_url: width: 1000
          | image_tag: widths: '200, 400, 800, 1000'
        }}
      {%- endif -%}
    </div>
    <a href="{{ block.settings.collection.url }}" class="link link--with-icon">
      {{ block.settings.collection.title }}
      <svg
        class="icon"
        aria-hidden="true"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
      >
        {%- render 'icon', icon: 'arrow' -%}
      </svg>
    </a>
  {%- else -%}
    <div
      class="resource-card__image-wrapper placeholder-image"
      style="aspect-ratio:{% if block.settings.ratio == 'auto' %}1{% else %}{{ block.settings.ratio }}{% endif %};"
    >
      {{ 'collection-apparel-1' | placeholder_svg_tag: 'product-placeholder-svg' }}
    </div>
    <a href="#" class="link link--with-icon">
      <span>Your collection's name</span>
      <svg
        class="icon"
        aria-hidden="true"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
      >
        {%- render 'icon', icon: 'arrow' -%}
      </svg>
    </a>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Collection card",
  "tag": null,
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "100%",
        "flex-grow": "1"
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    },
    {
      "type": "paragraph",
      "content": "Width is automatically optimized for mobile."
    },
    {
      "type": "select",
      "id": "ratio",
      "label": "Image ratio",
      "options": [
        {
          "value": "auto",
          "label": "Adapt to image"
        },
        {
          "value": "1",
          "label": "Square"
        },
        {
          "value": "16 / 9",
          "label": "Landscape"
        },
        {
          "value": "2 / 3",
          "label": "Portrait"
        }
      ],
      "default": "auto"
    }
  ],
  "presets": [{ "name": "Collection card" }]
}
{% endschema %}
