{% assign linklist = linklists[block.settings.linklist] %}
{% if block.settings.show_title %}
  <p class="linklist-title">{{ linklist.title }}</p>
  {% comment %} {% assign block_id = "linklist-heading-" | append: linklist.handle %}
  {% content_for "block", type: "heading", id: block_id %} {% endcomment %}
{% endif %}
<ul id="linklist-{{ linklist.handle }}" class="linklist">
  
  {% for link in linklist.links -%}
    <li class="linklist-item
      {% if link.active %}link-active{% endif %}
      {% if link.child_active %}link-child-active{% endif %}">
      <a href="{{ link.url }}" class="linklist-link linklist-link-{{ link.handle }}">{{ link.title }}</a>
      {% if link.levels > 0 %}
        {% comment %} {% content_for "block", type: "heading", id: "test" %}   {% endcomment %}
      {% endif %}
    </li>
  {%- endfor %}
</ul>

{% schema %}
{
  "name": "Linklist",
  "tag": null,
  "settings": [
    {
      "type": "link_list",
      "id": "linklist",
      "label": "Link list",
      "info": "Select a link list to display"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show linklist title",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Linklist"
    }
  ]
}
{% endschema %}
