{% stylesheet %}
  .link-block {
    display: inline-flex;
  }

  .link-block-icon-right {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .link-block svg {
    fill: rgb(var(--fill-link-icon-color));
  }

  .link--with-icon {
    gap: 5px;
  }
{% endstylesheet %}
<a
  href="{{ block.settings.link }}"
  class="{{ block.settings | class_list }} link-block link-block-icon-{{ block.settings.icon_position }} {{ block.settings.style_class }}{% if block.settings.icon != "none" %} link--with-icon{% endif %}"
  {%- if block.settings.open_in_new_tab -%}
    target="_blank" rel="noopener noreferrer"
  {%- endif -%}
  {{ block.shopify_attributes }}
>
  {%- if block.settings.icon != 'none' -%}
    <svg
      class="icon"
      aria-hidden="true"
      focusable="false"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      {{ block.shopify_attributes }}
    >
      {%- render 'icon', icon: block.settings.icon -%}
    </svg>
  {%- endif -%}
  {{ block.settings.label }}
</a>

{% schema %}
{
  "name": "Button",
  "tag": null,
  "settings": [
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "Button label"
    },
    {
      "type": "select",
      "id": "style_class",
      "label": "Style",
      "options": [
        {
          "value": "button",
          "label": "Solid"
        },
        {
          "value": "button-secondary",
          "label": "Outline"
        },
        {
          "value": "link",
          "label": "Link"
        }
      ],
      "default": "button"
    },
    {
      "type": "checkbox",
      "id": "open_in_new_tab",
      "label": "Open this link in a new window",
      "default": false
    },
    {
      "type": "select",
      "id": "icon",
      "label": "Icon",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "apple",
          "label": "Apple"
        },
        {
          "value": "arrow",
          "label": "Arrow"
        },
        {
          "value": "banana",
          "label": "Banana"
        },
        {
          "value": "bottle",
          "label": "Bottle"
        },
        {
          "value": "box",
          "label": "Box"
        },
        {
          "value": "carrot",
          "label": "Carrot"
        },
        {
          "value": "chat_bubble",
          "label": "Chat bubble"
        },
        {
          "value": "check_mark",
          "label": "Check mark"
        },
        {
          "value": "clipboard",
          "label": "Clipboard"
        },
        {
          "value": "dairy",
          "label": "Dairy"
        },
        {
          "value": "dairy_free",
          "label": "Dairy free"
        },
        {
          "value": "dryer",
          "label": "Dryer"
        },
        {
          "value": "eye",
          "label": "Eye"
        },
        {
          "value": "facebook",
          "label": "Facebook"
        },
        {
          "value": "fire",
          "label": "Fire"
        },
        {
          "value": "gluten_free",
          "label": "Gluten free"
        },
        {
          "value": "heart",
          "label": "Heart"
        },
        {
          "value": "instagram",
          "label": "Instagram"
        },
        {
          "value": "iron",
          "label": "Iron"
        },
        {
          "value": "leaf",
          "label": "Leaf"
        },
        {
          "value": "leather",
          "label": "Leather"
        },
        {
          "value": "lightning_bolt",
          "label": "Lightning bolt"
        },
        {
          "value": "lipstick",
          "label": "Lipstick"
        },
        {
          "value": "lock",
          "label": "Lock"
        },
        {
          "value": "map_pin",
          "label": "Map pin"
        },
        {
          "value": "nut_free",
          "label": "Nut free"
        },
        {
          "value": "pants",
          "label": "Pants"
        },
        {
          "value": "paw_print",
          "label": "Paw print"
        },
        {
          "value": "pepper",
          "label": "Pepper"
        },
        {
          "value": "perfume",
          "label": "Perfume"
        },
        {
          "value": "pinterest",
          "label": "Pinterest"
        },
        {
          "value": "plane",
          "label": "Plane"
        },
        {
          "value": "plant",
          "label": "Plant"
        },
        {
          "value": "price_tag",
          "label": "Price tag"
        },
        {
          "value": "question_mark",
          "label": "Question mark"
        },
        {
          "value": "recycle",
          "label": "Recylce"
        },
        {
          "value": "return",
          "label": "Return"
        },
        {
          "value": "ruler",
          "label": "Ruler"
        },
        {
          "value": "serving_dish",
          "label": "Serving dish"
        },
        {
          "value": "shirt",
          "label": "Shirt"
        },
        {
          "value": "shoe",
          "label": "Shoe"
        },
        {
          "value": "silhouette",
          "label": "Silhouette"
        },
        {
          "value": "snapchat",
          "label": "Snapchat"
        },
        {
          "value": "snowflake",
          "label": "Snowflake"
        },
        {
          "value": "star",
          "label": "Star"
        },
        {
          "value": "stopwatch",
          "label": "Stopwatch"
        },
        {
          "value": "tiktok",
          "label": "Tiktok"
        },
        {
          "value": "truck",
          "label": "Truck"
        },
        {
          "value": "tumblr",
          "label": "Tumblr"
        },
        {
          "value": "twitter",
          "label": "X (Twitter)"
        },
        {
          "value": "vimeo",
          "label": "Vimeo"
        },
        {
          "value": "washing",
          "label": "Washing"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "icon_position",
      "label": "Icon position",
      "options": [
        {
          "value": "left",
          "label": "Before"
        },
        {
          "value": "right",
          "label": "After"
        }
      ],
      "default": "left"
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "auto",
        "flex-grow": "0",
        "flex-shrink": "0"
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing",
      "default": {
        "padding": "0"
      }
    }
  ],
  "presets": [
    {
      "name": "Button (link)",
      "settings": {
        "label": "Link label",
        "style_class": "link"
      }
    },
    {
      "name": "Button (primary)",
      "settings": {
        "label": "Primary button label",
        "spacing": {
          "padding": "10px 30px"
        }
      }
    },
    {
      "name": "Button (secondary)",
      "settings": {
        "label": "Secondary button label",
        "style_class": "button-secondary",
        "spacing": {
          "padding": "10px 30px"
        }
      }
    },
    {
      "name": "Button (with icon)",
      "settings": {
        "icon": "arrow",
        "icon_position": "right",
        "spacing": {
          "padding": "10px 30px"
        }
      }
    }
  ]
}
{% endschema %}
