{% stylesheet %}
  .newsletter-block {
    position: relative;
    overflow: auto;
  }

  .newsletter-block .contact-form {
    width: max(150px, 100%);
    min-height: 44px;
  }

  .newsletter-block__form-inputs {
    position: relative;
  }

  .newsletter-block input {
    width: 100%;
    padding: 22px 44px 8px 12px;
    background: var(--gradient-background);
    color: rgb(var(--color-foreground));
  }

  .newsletter-block label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: all 0.2s ease-in-out;
  }

  .newsletter-block input::placeholder {
    opacity: 0;
  }

  .newsletter-block input:focus + label,
  .newsletter-block input:not(:placeholder-shown) + label {
    font-size: 0.8rem;
    transform: translateY(-120%);
  }

  .newsletter-block button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    min-width: 44px;
    padding-inline: 0;
    background-color: transparent;
    color: var(--color-foreground);
  }

  .newsletter-block svg {
    width: 15px;
  }

  .field__input {
    padding-block: 12px;
    padding-inline: 8px;
    border: 1px solid rgb(var(--color-foreground));
  }
{% endstylesheet %}

<div class="newsletter-block {{ block.settings | class_list }}">
  <div class="newsletter-form">
    {%- form 'customer' -%}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div>
        <div class="newsletter-block__form-inputs">
          <input
            id="NewsletterForm--{{ block.id }}"
            type="email"
            name="contact[email]"
            class="field__input"
            value="{{ form.email }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              autofocus
              aria-invalid="true"
              aria-describedby="Newsletter-error--{{ block.id }}"
            {% elsif form.posted_successfully? %}
              aria-describedby="Newsletter-success--{{ block.id }}"
            {% endif %}
            placeholder="Email address"
            required
          >
          <label for="NewsletterForm--{{ block.id }}">Email</label>
          <button
            type="submit"
            class="newsletter-form__button button button--primary"
            name="commit"
            id="Subscribe"
            aria-label="Sign up for newsletters"
          >
            <svg
              viewBox="0 0 14 10"
              fill="none"
              aria-hidden="true"
              focusable="false"
              class="icon icon-arrow"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
            </svg>
          </button>
        </div>
        {%- if form.errors -%}
          <small id="Newsletter-error--{{ block.id }}">
            {{- form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email -}}
          </small>
        {%- endif -%}
        {%- if form.posted_successfully? -%}
          <h3
            id="Newsletter-success--{{ block.id }}"
            tabindex="-1"
            autofocus
          >
            Successfuly submitted 👍
          </h3>
        {%- endif -%}
      </div>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "Email form",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "Each email subscription creates a customer account. [Learn more](https://help.shopify.com/manual/customers)"
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "auto",
        "min-width": "200px",

        "@media (--mobile)": {
          "width": "100%"
        }
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    }
  ],
  "presets": [{ "name": "Email form" }]
}
{% endschema %}
