{% stylesheet %}
  .price-block {
    display: flex;
    gap: 5px;
    width: fit-content;
  }
{% endstylesheet %}

<div class="price-block {{ block.settings | class_list }}" {{ block.shopify_attributes }}>
  {%- liquid
    if block.settings.product != blank
      assign target = block.settings.product.selected_or_first_available_variant
    endif

    assign compare_at_price = target.compare_at_price
    assign price = target.price | default: 1999
    assign money_price = price | money_with_currency
  -%}

  <div>
    {%- if compare_at_price -%}
      <s>{{ compare_at_price | money_with_currency }}</s>
    {%- endif -%}

    {{ money_price }}
  </div>
</div>

{% schema %}
{
  "name": "Product (price)",
  "tag": null,
  "class": "price-block",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "auto",

        "@media (--mobile)": {
          "width": "100%"
        }
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    }
  ],
  "presets": [
    {
      "name": "Product (price)",
      "settings": {
        "product": "{{ closest.product }}"
      }
    }
  ]
}
{% endschema %}
