<style>
  product-option-value {
    padding: 10px;
  }
  product-option-value[selected] {
    background: red;
  }
</style>

<div class="flex col">
  <input type="hidden" name="url" value="{{ product.url }}">
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id | default: product.variants.first.id }}">
  {%- for option in product.options_with_values -%}
    <div class="flex col">
      <p class="h4">{{ option.name }}</p>
      <div class="flex row wrap gap-small">
        {%- for option_value in option.values -%}
          <product-option-value {% if option_value.selected %}selected {% endif %}variant-id="{{ option_value.variant.id }}" product-url="{{ option_value.product_url | default: product.url }}">
            {%- if option_value.swatch != blank -%}
              {%- assign swatch = option_value.swatch -%}
              {%- if swatch.color -%}
                {{ swatch.color }}
              {%- else -%}
                {%- render 'image-element', image: swatch.image, sizes: '50px', widhts: '50,100,150' -%}
              {%- endif -%}
            {% else %}
              {{ option_value.name }}
            {%- endif -%}
          </product-option-value>
        {%- endfor -%}
      </div>
    </div>
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "Product Variants",
    "tag": null,
    "settings": [

    ],
    "presets": [
      {
        "name": "Product Variants"
      }
    ]
  }
{% endschema %}