{%- liquid
  assign block_index = 0
  for section_blocks in section.blocks
    assign block_index = block_index
    if block.id == section_blocks.id
      break
    endif
  endfor
-%}

<embla-slide
  id="slide-{{ block.id }}"
  index="{{ block_index }}"
  class=""
  {{ block.shopify_attributes }}
>
  <div class="{{ block.settings | class_list }} {{ block.settings.position }} {{ block.settings.overflow }}">
    {% content_for "blocks" %}
  </div>
</embla-slide>

{% schema %}
{
  "name": "Slide",
  "tag": null,
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Position"
    },
    {
      "type": "select",
      "id": "position",
      "label": "Position",
      "options": [
        {
          "value": "",
          "label": "static"
        },
        {
          "value": "is-relative",
          "label": "relative"
        },
        {
          "value": "is-absolute",
          "label": "absolute"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Overflow"
    },
    {
      "type": "select",
      "id": "overflow",
      "label": "Overflow",
      "options": [
        {
          "value": "",
          "label": "visible"
        },
        {
          "value": "overflow-hidden",
          "label": "hidden"
        },
        {
          "value": "overflow-scroll",
          "label": "scroll"
        }
      ],
      "default": ""
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "100%",
        "flex-grow": "1"
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing",
      "default": {
        "padding": "20px"
      }
    },
    {
      "type": "style.layout_panel",
      "id": "layout",
      "label": "Layout",
      "default": {
        "flex-direction": "row",
        "flex-wrap": "nowrap",
        "gap": "20px",
        "justify-content": "center",
        "align-items": "center",

        "@media (--mobile)": {
          "flex-wrap": "wrap"
        }
      }
    } 
  ],
  "presets": [
    {
      "name": "Slide",
      "blocks": [
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column",
              "justify-content": "start"
            },
            "spacing": {
              "padding": "50px"
            },
            "size": {
              "width": "50%",
              "flex-grow": "0",

              "@media (--mobile)": {
                "width": "90%"
              }
            }
          },
          "blocks": [
            {
              "type": "heading",
              "settings": {
                "heading": "Image slide",
                "heading_size": "h1"
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<p>Tell your brand's story through images</p>"
              }
            },
            {
              "type": "link",
              "settings": {
                "label": "Button label",
                "spacing": {
                  "padding": "10px 30px"
                }
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
