{%- liquid
  assign block_index = 0
  for section_blocks in section.blocks
    assign block_index = block_index
    if block.id == section_blocks.id
      break
    endif
  endfor
-%}

<embla-slide
  id="slide-{{ block.id }}"
  index="{{ block_index }}"
  class="shopify-block-slide"
  {{ block.shopify_attributes }}>
  <div
    class="{{ block.settings | class_list }} {{ block.settings.position }} {{ block.settings.overflow }}">
    {% content_for "blocks" %}
  </div>
</embla-slide>

{% schema %}
{
  "name": "Slide",
  "tag": null,
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Page width"
    },
    {
      "type": "select",
      "id": "page_width",
      "label": "Page width",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "header",
      "content": "Position"
    },
    {
      "type": "select",
      "id": "position",
      "label": "Position",
      "options": [
        {
          "value": "",
          "label": "static"
        },
        {
          "value": "is-relative",
          "label": "relative"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Overflow"
    },
    {
      "type": "select",
      "id": "overflow",
      "label": "Overflow",
      "options": [
        {
          "value": "",
          "label": "visible"
        },
        {
          "value": "overflow-hidden",
          "label": "hidden"
        },
        {
          "value": "overflow-scroll",
          "label": "scroll"
        }
      ],
      "default": ""
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    },
    {
      "type": "style.layout_panel",
      "id": "layout",
      "label": "Layout",
      "default": {
        "flex-direction": "row",
        "gap": "20px",
        "justify-content": "center",
        "align-items": "center",
        "@media (--mobile)": {
          "flex-wrap": "wrap"
        }
      }
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Slide",
      "blocks": []
    }
  ]
}
{% endschema %}
