{% if block.settings.control_style != "" %} 
  {% assign color_schema_class = "color-" | append: block.settings.color_scheme %}
  <div class="embla-controls {{ block.settings | class_list }} {{ block.settings.control_style }}  {{ block.settings.page_width }}">
    <embla-prev
      class="{{ color_schema_class }}"
      aria-label="Previous slide"
    >
      {% render 'icons', icon: 'chevron-left' %}
    </embla-prev>
    <embla-next
      class="{{ color_schema_class }}"
      aria-label="Next slide"
    >
      {% render 'icons', icon: 'chevron-right' %}
    </embla-next>
  </div>
{% endif %}

{% schema %}
{
  "name": "Slideshow controls",
  "settings": [
    {
      "type": "select",
      "id": "page_width",
      "label": "Page width",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        }
      ],
      "default": "full-width"
    },
    {
      "type": "select",
      "id": "control_style",
      "options": [
        {
          "value": "embla-simple",
          "label": "Simple"
        }
        
      ],
      "label": "Control style",
      "default": "embla-simple"
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    },
    {
      "type": "style.layout_panel",
      "id": "layout",
      "label": "Layout",
      "default": {
        "flex-direction": "row",
        "flex-wrap": "nowrap",
        "gap": "5px",
        "justify-content": "flex-end",
        "align-items": "center"
      }
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    } 
  ]
}
{% endschema %}
