<div
  class="embla-navigation {{ block.settings.navigation_style }}"
  aria-label="Slideshow thumbnails"
>
{% for block in section.blocks %}
  <embla-thumbnail
    class=""
    {{ block.shopify_attributes }}
    aria-label="Slide {{ forloop.index }} of {{ forloop.length }}"
    index="{{ forloop.index0 }}"
  >
  </embla-thumbnail>
{% endfor %}
</div>

{% schema %}
{
  "name": "Slideshow navigation",
  "settings": [
    {
      "type": "select",
      "id": "navigation_style",
      "options": [
        {
          "value": "embla-dots",
          "label": "Dots"
        },
        {
          "value": "embla-bars",
          "label": "Bars"
        }
      ],
      "label": "Navigation style",
      "default": "embla-bars"
    } 
  ]
}
{% endschema %}
