<div
  class="shopify-block--text {{ block.settings | class_list }} {{ block.settings.text_style }} text-{{ block.settings.alignment }} spacing-bottom-{{ block.settings.spacing_bottom }}"
  {{ block.shopify_attributes }}>
  {{ block.settings.text }}
</div>

{% schema %}
{
  "name": "Text",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "select",
      "id": "text_style",
      "label": "Style",
      "options": [
        {
          "value": "large",
          "label": "Body large"
        },
        {
          "value": "p",
          "label": "Body"
        },
        {
          "value": "small",
          "label": "Body small"
        }
      ],
      "default": "p"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Text alignment",
      "default": "center"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "Spacing bottom",
      "options": [
        { "value": "none", "label": "none" },
        { "value": "2xs", "label": "2xs" },
        { "value": "xs", "label": "xs" },
        { "value": "s", "label": "s" },
        { "value": "m", "label": "m" },
        { "value": "l", "label": "l" },
        { "value": "xl", "label": "xl" },
        { "value": "2xl", "label": "2xl" },
        { "value": "3xl", "label": "3xl" }
      ],
      "default": "none"
    }
  ],
  "presets": [{ "name": "Text" }]
}
{% endschema %}
