{% stylesheet %}
  .variant-block label {
    display: inline-block;
    padding-block: 8px;
  }

  .variant-select {
    position: relative;
  }

  .variant-select svg {
    position: absolute;
    height: 6px;
    top: 50%;
    transform: translatey(-50%);
    right: 1rem;
    pointer-events: none;
  }

  .variant-block select {
    width: 100%;
    padding-block: 12px;
    padding-inline: 10px 30px;
    border-radius: 4px;
    border: 1px solid #000;
    appearance: none;
  }
{% endstylesheet %}

{% javascript %}
  class ProductInputs extends HTMLElement {
    constructor() {
      super();
      this.section = this.closest('.shopify-section');
      this.hiddenVariantInput = this.section.querySelector(`input[name="id"]`);
      this.inputElement = this.querySelector(`[name="id"]`);
      this.addEventListener('change', this.#updateHiddenInput);
    }

    #updateHiddenInput = () => {
      this.hiddenVariantInput.value = this.inputElement.value;
    };
  }

  if (!customElements.get('product-inputs')) {
    customElements.define('product-inputs', ProductInputs);
  }
{% endjavascript %}

{%- liquid
  assign product = block.settings.product
  assign product_form_id = 'product-form-' | append: section.id | append: product.id
-%}

{%- unless product.has_only_default_variant -%}
  <product-inputs
    id="variant-selects-{{ section.id }}"
    class="{{ block.settings | class_list }} variant-block"
    data-url="{{ product.url }}"
    data-section="{{ section.id }}{{ product.id }}"
    data-input-name="id"
    {{ block.shopify_attributes }}
  >
    <div
      {% if product.has_only_default_variant %}
        hidden
      {% endif %}
    >
      <label for="Variants-{{ section.id }}">Options</label>
      <div class="variant-select">
        <select
          name="id"
          id="Variants-{{ section.id }}"
          form="{{ product_form_id }}"
        >
          {%- for variant in product.variants -%}
            <option
              {% if variant == product.selected_or_first_available_variant %}
                selected="selected"
              {% endif %}
              {% if variant.available == false %}
                disabled
              {% endif %}
              value="{{ variant.id }}"
            >
              {%- liquid
                echo variant.title
                echo variant.price | money | strip_html | prepend: ' - '
                if variant.available == false
                  echo 'Sold out' | prepend: ' - '
                endif
              -%}
            </option>
          {%- endfor -%}
          {%- unless product.variants -%}
            <option>Product variant</option>
          {%- endunless -%}
        </select>
        <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
        </svg>
      </div>
    </div>
  </product-inputs>
{%- endunless -%}

{% schema %}
{
  "name": "Product (variant picker)",
  "tag": null,
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "auto",

        "@media (--mobile)": {
          "width": "100%"
        }
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    }
  ],
  "presets": [
    {
      "name": "Product (variant picker)",
      "settings": { "product": "{{ closest.product }}" }
    }
  ]
}
{% endschema %}
