{% stylesheet %}{% endstylesheet %}
<div class="color-{{ section.settings.color_scheme }} full-width {{ section.settings.overflow }} {{ section.settings.position }}">
  <div class="{{section.settings.page_width}} {{ section.settings | class_list }} ">
    {% content_for "blocks" %}
  </div>
</div>

{% schema %}
{
  "name": "Container",
  "tag": "section",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Page width"
    },
    {
      "type": "select",
      "id": "page_width",
      "label": "Page width",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "header",
      "content": "Position"
    },
    {
      "type": "select",
      "id": "position",
      "label": "Position",
      "options": [
        {
          "value": "",
          "label": "static"
        },
        {
          "value": "is-relative",
          "label": "relative"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Overflow"
    },
    {
      "type": "select",
      "id": "overflow",
      "label": "Overflow",
      "options": [
        {
          "value": "",
          "label": "visible"
        },
        {
          "value": "overflow-hidden",
          "label": "hidden"
        },
        {
          "value": "overflow-scroll",
          "label": "scroll"
        }
      ],
      "default": ""
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    },
    {
      "type": "style.layout_panel",
      "id": "layout",
      "label": "Layout",
      "default": {
        "flex-direction": "row",
        "gap": "20px",
        "justify-content": "center",
        "align-items": "center",
        "@media (--mobile)": {
          "flex-wrap": "wrap"
        }
      }
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Container"
    },
    {
      "name": "Column",
      "blocks": [
        {
          "type": "container",
          "settings": {
            "size": {
              "flex-basis": "33%"
            },
            "layout": {
              "flex-direction": "column",
              "align-items": "flex-start",
              "row-gap": "0px",
              "column-gap": "0px"
            }
          },
          "blocks": [
            {
              "type": "image",
              "settings": {
                "object_fit": "cover",
                "size": {
                  "width": "100%",
                  "flex-grow": "1"
                },
                "aspect_ratio_type": "auto",
                "aspect_ratio": 1,
                "spacing_bottom": "m",
                "placeholder": "image"
              }
            },
            {
              "type": "heading",
              "settings": {
                "heading": "Heading",
                "html_tag": "p",
                "heading_style": "h4",
                "alignment": "left",
                "spacing_bottom": "s",
                "text_color": "",
                "font_size": ""
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<p>Share information about your brand with your customers.</p>",
                "text_style": "small",
                "alignment": "left",
                "spacing_bottom": "l"
              }
            },
            {
              "type": "link",
              "settings": {
                "link": "",
                "label": "Tertiary button label",
                "button_style": "btn btn--tertiary",
                "small": true,
                "full_width": false,
                "open_in_new_tab": false,
                "spacing_bottom": "none"
              }
            }
          ]
        }
      ],
      "settings": {
        "page_width": "page-width",
        "spacing": {
          "padding-block-start": "0px",
          "padding-block-end": "60px"
        }
      }
    }
  ]
}
{% endschema %}
