<div class="full-width {{ section.settings | class_list }} color-{{ section.settings.color_scheme }}">
  {% comment %} [START section.render_blocks] {% endcomment %}
  {% content_for 'blocks' %}
  {% comment %} [END section.render_blocks] {% endcomment %}
</div>

{% comment %} [START section.blocks] {% endcomment %}
{% schema %}
{
  "name": "Custom section",
  "class": "section--has-background",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing",
      "default": {
        "padding": "20px"
      }
    },
    {
      "type": "style.layout_panel",
      "id": "layout",
      "label": "Layout",
      "default": {
        "flex-direction": "row",
        "gap": "20px",
        "justify-content": "center",
        "align-items": "center",

        "@media (--mobile)": {
          "flex-wrap": "wrap"
        }
      }
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Custom section"
    },
    {
      "name": "Image with text",
      "settings": {
        "spacing": {
          "padding": "40px 20px"
        }
      },
      "blocks": [
        {
          "type": "image",
          "settings": {
            "size": {
              "width": "100%",
              "flex-grow": "1",
              "height": "100%",

              "@media (--mobile)": {
                "height": "auto"
              }
            }
          }
        },
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column"
            },
            "size": {
              "width": "100%",
              "height": "100%",

              "@media (--mobile)": {
                "height": "auto"
              }
            },
            "spacing": {
              "padding": "60px"
            },
            "color_scheme": "scheme-3"
          },
          "blocks": [
            {
              "type": "text",
              "settings": {
                "text": "<h1>Image with text</h1>"
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
              }
            },
            {
              "type": "link",
              "settings": {
                "spacing": {
                  "padding": "10px 30px"
                }
              }
            }
          ]
        }
      ]
    },
    {
      "name": "Collapsible content",
      "settings": {
        "layout": {
          "flex-direction": "column",
          "align-items": "flex-start",
          "justify-content": "center"
        },
        "spacing": {
          "padding": "40px 20px"
        }
      },
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "<h2>Collapsible content</h2>"
          }
        },
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column",
              "gap": "0px"
            }
          },
          "blocks": [
            {
              "type": "collapsible-row",
              "blocks": [
                {
                  "type": "collapsible-row-summary",
                  "static": true,
                  "id": "collapsible-row-summary",
                  "blocks": [
                    {
                      "type": "icon",
                      "id": "collapsible-row-icon",
                      "static": true,
                      "settings": {
                        "icon": "check_mark",
                        "width": 22
                      }
                    }
                  ]
                },
                {
                  "type": "group",
                  "settings": {
                    "layout": {
                      "flex-direction": "column",
                      "align-items": "flex-start"
                    },
                    "spacing": {
                      "padding": "15px"
                    }
                  },
                  "blocks": [
                    {
                      "type": "text"
                    },
                    {
                      "type": "text"
                    }
                  ]
                }
              ]
            },
            {
              "type": "collapsible-row",
              "blocks": [
                {
                  "type": "collapsible-row-summary",
                  "static": true,
                  "id": "collapsible-row-summary",
                  "blocks": [
                    {
                      "type": "icon",
                      "id": "collapsible-row-icon",
                      "static": true,
                      "settings": {
                        "icon": "check_mark",
                        "width": 22
                      }
                    }
                  ]
                },
                {
                  "type": "group",
                  "settings": {
                    "layout": {
                      "flex-direction": "column",
                      "align-items": "flex-start"
                    },
                    "spacing": {
                      "padding": "15px"
                    }
                  },
                  "blocks": [
                    {
                      "type": "text"
                    },
                    {
                      "type": "text"
                    }
                  ]
                }
              ]
            },
            {
              "type": "collapsible-row",
              "blocks": [
                {
                  "type": "collapsible-row-summary",
                  "static": true,
                  "id": "collapsible-row-summary",
                  "blocks": [
                    {
                      "type": "icon",
                      "id": "collapsible-row-icon",
                      "static": true,
                      "settings": {
                        "icon": "check_mark",
                        "width": 22
                      }
                    }
                  ]
                },
                {
                  "type": "group",
                  "settings": {
                    "layout": {
                      "flex-direction": "column",
                      "align-items": "flex-start"
                    },
                    "spacing": {
                      "padding": "15px"
                    }
                  },
                  "blocks": [
                    {
                      "type": "text"
                    },
                    {
                      "type": "text"
                    }
                  ]
                }
              ]
            },
            {
              "type": "collapsible-row",
              "blocks": [
                {
                  "type": "collapsible-row-summary",
                  "static": true,
                  "id": "collapsible-row-summary",
                  "blocks": [
                    {
                      "type": "icon",
                      "id": "collapsible-row-icon",
                      "static": true,
                      "settings": {
                        "icon": "check_mark",
                        "width": 22
                      }
                    }
                  ]
                },
                {
                  "type": "group",
                  "settings": {
                    "layout": {
                      "flex-direction": "column",
                      "align-items": "flex-start"
                    },
                    "spacing": {
                      "padding": "15px"
                    }
                  },
                  "blocks": [
                    {
                      "type": "text"
                    },
                    {
                      "type": "text"
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "name": "Collection list",
      "settings": {
        "layout": {
          "flex-direction": "column",
          "align-items": "flex-start"
        },
        "spacing": {
          "padding": "60px 20px"
        }
      },
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "<h2>Collections</h2>"
          }
        },
        {
          "type": "group",
          "settings": {
            "spacing": {
              "padding": "0"
            }
          },
          "blocks": [
            {
              "type": "collection-card",
              "blocks": [
                {
                  "type": "image",
                  "settings": {
                    "image": "{{ closest.collection.image }}",
                    "object_fit": "cover",
                    "spacing": {},
                    "size": {}
                  }
                },
                {
                  "type": "collection-title",
                  "settings": {
                    "collection": "{{ closest.collection}}",
                    "heading_size": "h4",
                    "alignment": "start"
                  }
                }
              ]
            },
            {
              "type": "collection-card",
              "blocks": [
                {
                  "type": "image",
                  "settings": {
                    "image": "{{ closest.collection.image }}",
                    "object_fit": "cover",
                    "spacing": {},
                    "size": {}
                  }
                },
                {
                  "type": "collection-title",
                  "settings": {
                    "collection": "{{ closest.collection }}",
                    "heading_size": "h4",
                    "alignment": "start"
                  }
                }
              ]
            },
            {
              "type": "collection-card",
              "blocks": [
                {
                  "type": "image",
                  "settings": {
                    "image": "{{ closest.collection.image }}",
                    "object_fit": "cover",
                    "spacing": {},
                    "size": {}
                  }
                },
                {
                  "type": "collection-title",
                  "settings": {
                    "collection": "{{ closest.collection }}",
                    "heading_size": "h4",
                    "alignment": "start"
                  }
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "name": "Collage",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "<h2>Multimedia collage</h2>"
          }
        },
        {
          "type": "group",
          "settings": {
            "spacing": {
              "padding": "0"
            }
          },
          "blocks": [
            {
              "type": "group",
              "settings": {
                "layout": {
                  "flex-direction": "column"
                },
                "size": {
                  "width": "25%",
                  "height": "100%",

                  "@media (--mobile)": {
                    "height": "auto",
                    "width": "100%"
                  }
                },
                "spacing": {
                  "padding": "0"
                }
              },
              "blocks": [
                {
                  "type": "image",
                  "settings": {
                    "size": {
                      "width": "100%",
                      "height": "100%"
                    }
                  }
                },
                {
                  "type": "collection-card",
                  "settings": {
                    "size": {
                      "width": "100%",
                      "height": "100%"
                    }
                  }
                }
              ]
            },
            {
              "type": "collection-card",
              "settings": {
                "size": {
                  "width": "75%",

                  "@media (--mobile)": {
                    "width": "100%"
                  }
                }
              }
            }
          ]
        }
      ],
      "settings": {
        "layout": {
          "flex-direction": "column",
          "align-items": "flex-start"
        },
        "spacing": {
          "padding": "60px 20px"
        }
      }
    },
    {
      "name": "Rich text",
      "settings": {
        "layout": {
          "flex-direction": "column",
          "justify-content": "center"
        },
        "spacing": {
          "padding": "40px 20px"
        }
      },
      "blocks": [
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column",
              "justify-content": "center"
            },
            "size": {
              "width": "75%"
            }
          },
          "blocks": [
            {
              "type": "text",
              "settings": {
                "text": "<h1>Rich text</h1>",
                "alignment": "center"
              }
            },
            {
              "type": "text",
              "settings": {
                "alignment": "center"
              }
            },
            {
              "type": "link",
              "settings": {
                "spacing": {
                  "padding": "10px 30px"
                }
              }
            }
          ]
        }
      ]
    },
    {
      "name": "Multicolumn",
      "settings": {
        "layout": {
          "flex-direction": "column",
          "align-items": "flex-start"
        },
        "spacing": {
          "padding": "40px 20px"
        }
      },
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "<h2>Multicolumn</h2>"
          }
        },
        {
          "type": "group",
          "settings": {
            "spacing": {
              "padding": "0"
            }
          },
          "blocks": [
            {
              "type": "group",
              "settings": {
                "color_scheme": "scheme-3",
                "layout": {
                  "flex-direction": "column",
                  "align-items": "flex-start"
                },
                "size": {
                  "width": "100%"
                },
                "spacing": {
                  "padding": "20px"
                }
              },
              "blocks": [
                {
                  "type": "text",
                  "settings": {
                    "text": "<h3>Column</h3>"
                  }
                },
                {
                  "type": "text",
                  "settings": {
                    "text": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.<\/p>"
                  }
                }
              ]
            },
            {
              "type": "group",
              "settings": {
                "color_scheme": "scheme-3",
                "layout": {
                  "flex-direction": "column",
                  "align-items": "flex-start"
                },
                "size": {
                  "width": "100%"
                },
                "spacing": {
                  "padding": "20px"
                }
              },
              "blocks": [
                {
                  "type": "text",
                  "settings": {
                    "text": "<h3>Column</h3>"
                  }
                },
                {
                  "type": "text",
                  "settings": {
                    "text": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.<\/p>"
                  }
                }
              ]
            },
            {
              "type": "group",
              "settings": {
                "color_scheme": "scheme-3",
                "layout": {
                  "flex-direction": "column",
                  "align-items": "flex-start"
                },
                "size": {
                  "width": "100%"
                },
                "spacing": {
                  "padding": "20px"
                }
              },
              "blocks": [
                {
                  "type": "text",
                  "settings": {
                    "text": "<h3>Column</h3>"
                  }
                },
                {
                  "type": "text",
                  "settings": {
                    "text": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.<\/p>"
                  }
                }
              ]
            }
          ]
        },
        {
          "type": "group",
          "settings": {
            "layout": {
              "justify-content": "center"
            },
            "spacing": {
              "padding": "0px"
            }
          },
          "blocks": [
            {
              "type": "link",
              "settings": {
                "spacing": {
                  "padding": "10px 30px"
                }
              }
            }
          ]
        }
      ]
    },
    {
      "name": "Email signup",
      "settings": {
        "layout": {
          "flex-direction": "column",
          "align-items": "center"
        },
        "color_scheme": "scheme-2",
        "spacing": {
          "padding": "60px 20px"
        }
      },
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "<h2>Subscribe to our newsletter</h2>",
            "alignment": "center"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "<p>Be the first to know about new collections and exclusive offers.</p>",
            "alignment": "center"
          }
        },
        {
          "type": "newsletter"
        }
      ]
    },
    {
      "name": "Icon with text",
      "settings": {
        "layout": {
          "flex-direction": "row",
          "justify-content": "center"
        },
        "spacing": {
          "padding": "40px 20px"
        },
        "color_scheme": "scheme-2"
      },
      "blocks": [
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column",
              "justify-content": "center"
            },
            "size": {
              "width": "100%"
            },
            "spacing": {
              "padding": "35px"
            },
            "color_scheme": "scheme-2"
          },
          "blocks": [
            {
              "type": "icon",
              "settings": {
                "icon": "return",
                "width": 50
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<h3>Heading</h3>",
                "alignment": "center"
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<p>Pair text with an icon to highlight aspects of your business.<\/p>",
                "text_style": "",
                "alignment": "center"
              }
            }
          ]
        },
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column",
              "justify-content": "center"
            },
            "color_scheme": "scheme-2",
            "size": {
              "width": "100%"
            },
            "spacing": {
              "padding": "35px"
            }
          },
          "blocks": [
            {
              "type": "icon",
              "settings": {
                "icon": "truck",
                "width": 50
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<h3>Heading</h3>",
                "alignment": "center"
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<p>Pair text with an icon to highlight aspects of your business.<\/p>",
                "text_style": "",
                "alignment": "center"
              }
            }
          ]
        },
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column",
              "justify-content": "center"
            },
            "size": {
              "width": "100%"
            },
            "spacing": {
              "padding": "35px"
            },
            "color_scheme": "scheme-2"
          },
          "blocks": [
            {
              "type": "icon",
              "settings": {
                "icon": "chat_bubble",
                "width": 50
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<h3>Heading</h3>",
                "alignment": "center"
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<p>Pair text with an icon to highlight aspects of your business.<\/p>",
                "text_style": "",
                "alignment": "center"
              }
            }
          ]
        }
      ]
    },
    {
      "name": "Featured collection",
      "settings": {
        "layout": {
          "flex-direction": "column",
          "align-items": "flex-start"
        }
      },
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "<h2>Featured collection</h2>",
            "alignment": "start"
          }
        },
        {
          "type": "product-grid",
          "settings": {
            "spacing": {
              "padding": "0px"
            }
          },
          "blocks": [
            {
              "id": "product-grid-item",
              "type": "product-card",
              "static": true,
              "settings": {
                "product": "{{ closest.product }}"
              },
              "blocks": [
                {
                  "type": "product-medias",
                  "settings": {
                    "product": "{{ closest.product }}",
                    "media_featured": true
                  }
                },
                {
                  "type": "product-title",
                  "settings": {
                    "product": "{{ closest.product }}",
                    "heading_size": "h5"
                  }
                },
                {
                  "type": "price",
                  "settings": {
                    "product": "{{ closest.product }}"
                  }
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
{% comment %} [END section.blocks] {% endcomment %}
