
<script type="module" src="{{ 'embla-slider-component.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'embla-slider-component.css' | asset_url }}">
<div class="" style="display:flex; flex-direction: column;">
  <embla-prev for="slider-{{section.id}}"> Prev </embla-prev>
  <embla-next for="slider-{{section.id}}"> Next </embla-next>
  <embla-progress for="slider-{{section.id}}"></embla-progress>
  <style>
    #slider-{{section.id}}{
      --slides-per-page: 3;
      --gap: 20px;
    }
  </style>
  <embla-slider id="slider-{{section.id}}"
    options="loop: true, duration: 25, containScroll: trimSnaps, align: start"
    options-medium="loop: false, containScroll: trimSnaps"
    options-small="loop: false"
  >
    <embla-slides>
      {% for i in (1..7) %}
        <embla-slide class="">Slide {{ i }}</embla-slide>
      {% endfor %}
    </embla-slides>
    <embla-prev> Prev </embla-prev>
    <embla-next> Next </embla-next>
    <embla-progress></embla-progress>
  </embla-slider>

  <div class="" style="display:flex; flex-direction: row;">
    {% for i in (1..7) %}
      <embla-thumbnail for="slider-{{section.id}}" index="{{ forloop.index0 }}">Thumbnail {{ i }}</embla-thumbnail>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Embla Test",
  "class": "section--has-background",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "presets": [
    {
      "name": "Embla Test"
    }
  ],
  "settings": [
    
  ]
}
{% endschema %}
