
<script type="module" src="{{ 'embla-slider-component.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'embla-slider-component.css' | asset_url }}">
<div class="" style="display: flex;flex-direction: column;">
  <embla-prev for="slider-{{section.id}}"> Prev </embla-prev>
  <embla-next for="slider-{{section.id}}"> Next </embla-next>
  <embla-progress for="slider-{{section.id}}"> </embla-progress>

  <embla-slider id="slider-{{section.id}}">
    <embla-container>
      <embla-slide class="">Slide 1 Component</embla-slide>
      <embla-slide class="">Slide 2 Component</embla-slide>
      <embla-slide class="">Slide 3 Component</embla-slide>
      <embla-slide class="">Slide 4 Component</embla-slide>
      <embla-slide class="">Slide 5 Component</embla-slide>
      <embla-slide class="">Slide 6 Component</embla-slide>
      <embla-slide class="">Slide 7 Component</embla-slide>
    </embla-container>
    <embla-prev> Prev </embla-prev>
    <embla-next> Next </embla-next>
    <embla-progress> </embla-progress>
  </embla-slider>
</div>

{% schema %}
{
  "name": "Embla Test",
  "class": "section--has-background",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "presets": [
    {
      "name": "Embla Test"
    }
  ]
}
{% endschema %}
