<div class="full-width {{ section.settings | class_list }} color-{{ section.settings.color_scheme }} featured-product-section">
  {% content_for "blocks" %}
</div>

{% schema %}
{
  "name": "Featured product",
  "class": "section--has-background",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing",
      "default": {
        "padding": "20px"
      }
    },
    {
      "type": "style.layout_panel",
      "id": "layout",
      "label": "Layout",
      "default": {
        "flex-direction": "row",
        "gap": "20px",
        "justify-content": "center",
        "align-items": "flex-start",

        "@media (--mobile)": {
          "flex-wrap": "wrap",
          "gap": "10px"
        }
      }
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Featured product",
      "blocks": [
        {
          "type": "product-medias",
          "settings": {
            "product": "{{ section.settings.product }}",
            "media_featured": true,
            "size": {
              "width": "100%",
              "flex-grow": "1"
            }
          }
        },
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column",
              "align-items": "flex-start",
              "gap": "5px"
            },
            "size": {
              "width": "100%",
              "flex-grow": "1"
            }
          },
          "blocks": [
            {
              "type": "text",
              "settings": {
                "text": "<p>{{ section.settings.product.vendor }}<\/p>"
              }
            },
            {
              "type": "product-title",
              "settings": {
                "heading_size": "h1",
                "product": "{{ section.settings.product }}"
              }
            },
            {
              "type": "price",
              "settings": {
                "product": "{{ section.settings.product }}"
              }
            },
            {
              "type": "variant-picker",
              "settings": {
                "product": "{{ section.settings.product }}"
              }
            },
            {
              "type": "quantity-selector",
              "settings": {
                "product": "{{ section.settings.product }}"
              }
            },
            {
              "type": "buy-buttons",
              "settings": {
                "product": "{{ section.settings.product }}",
                "spacing": {
                  "padding": "15px 0"
                }
              }
            },
            {
              "type": "link",
              "settings": {
                "label": "View full details",
                "icon": "arrow",
                "link": "{{ section.settings.product.url }}",
                "icon_position": "right",
                "style_class": "link",
                "spacing": {
                  "padding": "10px 0px"
                }
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
