{% stylesheet %}{% endstylesheet %}

<div class="{{section.settings.page_width}} {{ section.settings.size | class_list }} color-{{ section.settings.color_scheme }} grid"
  style="
  --columns: {{ section.settings.columns }}; 
  --rows: {{ section.settings.rows }};
  --gap: {{ section.settings.layout.column_gap }} {{ section.settings.layout.row_gap }};
  "
>
  {% content_for "blocks" %}
</div>

{% schema %}
{
  "name": "Grid",
  "tag": "section",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Page width"
    },
    {
      "type": "select",
      "id": "page_width",
      "label": "Page width",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "columns",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Columns",
      "default": 3
    },
    {
      "type": "range",
      "id": "rows",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Rows",
      "default": 1
    },
    {
      "type": "style.layout_panel",
      "id": "layout",
      "label": "Layout",
      "default": {
        "gap": "20px",
      },
      "info": "Only gap is used. Todo: Replace with new settings when available"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Grid"
    }
  ]
}
{% endschema %}
