{% style %}
  .image-banner--{{ section.id }} .image-banner__image-wrapper:after {
    opacity: {{ section.settings.overlay_opacity | times: 1.00 | divided_by: 100 }};
  }

  .image-banner--adapt {
    aspect-ratio: {{ section.settings.first_image.aspect_ratio }};
  }
{% endstyle %}

<div class="{{ section.settings | class_list }} full-width color-{{ section.settings.color_scheme }} image-banner image-banner--{{ section.id }} {% if section.settings.first_image != blank and section.settings.second_image != blank %} image-banner--two-images{% endif %}">
  <div class="image-banner__image-wrapper">
    {%- if section.settings.first_image != blank -%}
      {{
        section.settings.first_image
        | image_url: width: 3840
        | image_tag: width: section.settings.image.width, widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
      }}
    {%- endif %}
    {%- if section.settings.second_image != blank -%}
      {{
        section.settings.second_image
        | image_url: width: 3840
        | image_tag: width: section.settings.image.width, widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
      }}
    {%- endif %}
    {%- if section.settings.first_image == blank and section.settings.second_image == blank -%}
      <div class="placeholder-image">
        {{ 'hero-apparel-2' | placeholder_svg_tag: 'image-banner-placeholder-svg' }}
      </div>
    {%- endif -%}
  </div>

  {% content_for "blocks" %}
</div>

{% schema %}
{
  "name": "Image banner",
  "class": "section--has-background",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "image_picker",
      "id": "first_image",
      "label": "First image"
    },
    {
      "type": "image_picker",
      "id": "second_image",
      "label": "Second image"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 20
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing",
      "default": {
        "padding": "100px 20px"
      }
    },
    {
      "type": "style.layout_panel",
      "id": "layout",
      "label": "Layout",
      "default": {
        "flex-direction": "row",
        "gap": "20px",
        "justify-content": "center",
        "align-items": "center",

        "@media (--mobile)": {
          "flex-wrap": "wrap"
        }
      }
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Image banner",
      "settings": {
        "color_scheme": "scheme-4"
      },
      "blocks": [
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column"
            },
            "size": {
              "width": "50%",
              "flex-grow": "0",

              "@media (--mobile)": {
                "width": "100%"
              }
            },
            "spacing": {
              "padding": "50px",

              "@media (--mobile)": {
                "padding": "20px"
              }
            }
          },
          "blocks": [
            {
              "type": "heading",
              "settings": {
                "heading": "Browse our latest products",
                "heading_size": "h1"
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<p>Give customers details about the banner image(s) or content on the template.<\/p>"
              }
            },
            {
              "type": "link",
              "settings": {
                "link": "#",
                "label": "Shop all",
                "style_class": "button-secondary",
                "spacing": {
                  "padding": "10px 30px"
                },
                "size": {
                  "width": "fit-content"
                }
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
