
<style>
  #slideshow-{{section.id}}{
    --slides-per-page: {{section.settings.slides_per_page}};
    --gap:  {{section.settings.gap}}px;
  }
</style>

<embla-slider id="slideshow-{{section.id}}" class="{{ section.settings | class_list }}"
  options="loop: true, duration: 25, containScroll: trimSnaps, align: start"
  options-medium="loop: false, containScroll: trimSnaps"
  options-small="loop: false"
  {% comment %} autoplay="2000" {% endcomment %}
>
  <embla-slides>
    {% content_for "blocks" %}
  </embla-slides>

  {% if  section.blocks.size > 1 %}
    {% content_for "block", type: "slideshow-controls", id: "slideshow-controls" %}
  {% endif %}

  {% if section.blocks.size > 1 %}
    {% content_for "block", type: "slideshow-progress", id: "slideshow-progress" %}
  {% endif %}

  {% if section.blocks.size > 1 %}
    {% content_for "block", type: "slideshow-navigation", id: "slideshow-navigation" %}
  {% endif %}

</embla-slider>
{% comment %} 
 {
      "type": "header",
      "content": "Slideshow height"
    },
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "Adapt to first image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Slide height"
    },
    {
      "type": "header",
      "content": "Slideshow style"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "Autoplay speed",
      "min": 3,
      "max": 7,
      "step": 1,
      "unit": "s",
      "default": 5
    } 
{% endcomment %}

{% schema %}
{
  "name": "Slideshow",
  "class": "section--has-background",
  "blocks": [{ "type": "slide" }],
  "settings": [
    {
      "type": "range",
      "id": "slides_per_page",
      "label": "Slides per page",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 1
    },
    {
      "type": "number",
      "id": "gap",
      "label": "Gap (px)",
      "default": 0
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "100%",
        "flex-grow": "1"
      }
    } 
  ],
  "presets": [
    {
      "name": "Slideshow",
      "blocks": [
        {
          "type": "slide",
          "blocks": [
            {
              "type": "group",
              "settings": {
                "layout": {
                  "flex-direction": "column",
                  "justify-content": "flex-start"
                },
                "size": {
                  "width": "50%",
                  "flex-grow": "0",

                  "@media (--mobile)": {
                    "width": "100%"
                  }
                },
                "spacing": {
                  "padding": "50px",

                  "@media (--mobile)": {
                    "padding": "20px"
                  }
                }
              },
              "blocks": [
                {
                  "type": "heading",
                  "settings": {
                    "heading": "Image slide",
                    "heading_size": "h1"
                  }
                },
                {
                  "type": "text",
                  "settings": {
                    "text": "<p>Tell your brand's story through images</p>"
                  }
                },
                {
                  "type": "link",
                  "settings": {
                    "label": "Button label",
                    "spacing": {
                      "padding": "10px 30px"
                    }
                  }
                }
              ]
            }
          ]
        },
        {
          "type": "slide",
          "blocks": [
            {
              "type": "group",
              "settings": {
                "layout": {
                  "flex-direction": "column",
                  "justify-content": "flex-start"
                },
                "size": {
                  "width": "50%",
                  "flex-grow": "0",

                  "@media (--mobile)": {
                    "width": "100%"
                  }
                },
                "spacing": {
                  "padding": "50px",

                  "@media (--mobile)": {
                    "padding": "20px"
                  }
                }
              },
              "blocks": [
                {
                  "type": "heading",
                  "settings": {
                    "heading": "Image slide",
                    "heading_size": "h1"
                  }
                },
                {
                  "type": "text",
                  "settings": {
                    "text": "<p>Tell your brand's story through images</p>"
                  }
                },
                {
                  "type": "link",
                  "settings": {
                    "label": "Button label",
                    "spacing": {
                      "padding": "10px 30px"
                    }
                  }
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
