{{ 'slideshow.css' | asset_url | stylesheet_tag }}
<script src="{{ 'slideshow-component.js' | asset_url }}" defer="defer"></script>

<slideshow-component
  id="slideshow-{{ section.id }}"
  class="slideshow flex-item slideshow--{{ section.settings.slide_height }}"
  data-active-slide="0"
  data-autoplay="{{ section.settings.autoplay }}"
  data-transition-style="{{ section.settings.transition_style }}"
  {% if section.settings.autoplay %}
    aria-live="polite"
    data-autoplay-speed="{{ section.settings.autoplay_speed }}"
  {% endif %}
>
  <div class="slideshow__slides">
    {% content_for "blocks" %}
  </div>

  {% if section.blocks.size > 1 %}
    {% content_for "block", type: "slideshow-controls", id: "controls-for-slideshow" %}
  {% endif %}
</slideshow-component>

{% schema %}
{
  "name": "Slideshow",
  "class": "section--group",
  "blocks": [{ "type": "slide" }],
  "settings": [
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "Adapt to first image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Slide height"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30
    },
    {
      "type": "header",
      "content": "Slideshow style"
    },
    {
      "type": "select",
      "id": "transition_style",
      "options": [
        {
          "value": "left",
          "label": "Slide left"
        },
        {
          "value": "right",
          "label": "Slide right"
        },
        {
          "value": "top",
          "label": "Slide up"
        },
        {
          "value": "bottom",
          "label": "Slide down"
        }
      ],
      "label": "Transition",
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "Autoplay speed",
      "min": 3,
      "max": 7,
      "step": 1,
      "unit": "s",
      "default": 5
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "blocks": [
        {
          "type": "slide",
          "blocks": [
            {
              "type": "group",
              "settings": {
                "layout": {
                  "flex-direction": "column",
                  "justify-content": "center",
                  "align-items": "center",
                  "row-gap": "15px",
                  "column-gap": "15px"
                },
                "size": {
                  "width": "100%",
                  "flex-grow": "1"
                },
                "spacing": {}
              },
              "blocks": [
                {
                  "type": "heading",
                  "settings": {
                    "heading": "Slide 1"
                  }
                },
                {
                  "type": "text",
                  "settings": {
                    "text": "<p>This is the first slide</p>"
                  }
                },
                {
                  "type": "link",
                  "settings": {
                    "label": "Link for slide 1"
                  }
                }
              ]
            }
          ]
        },
        {
          "type": "slide",
          "blocks": [
            {
              "type": "group",
              "settings": {
                "layout": {
                  "flex-direction": "column",
                  "justify-content": "center",
                  "align-items": "center",
                  "row-gap": "15px",
                  "column-gap": "15px"
                },
                "size": {
                  "width": "100%",
                  "flex-grow": "1"
                },
                "spacing": {}
              },
              "blocks": [
                {
                  "type": "heading",
                  "settings": {
                    "heading": "Slide 2"
                  }
                },
                {
                  "type": "text",
                  "settings": {
                    "text": "<p>This is the second slide</p>"
                  }
                },
                {
                  "type": "link",
                  "settings": {
                    "label": "Link for slide 2"
                  }
                }
              ]
            }
          ]
        },
        {
          "type": "slide",
          "blocks": [
            {
              "type": "group",
              "settings": {
                "layout": {
                  "flex-direction": "column",
                  "justify-content": "center",
                  "align-items": "center",
                  "row-gap": "15px",
                  "column-gap": "15px"
                },
                "size": {
                  "width": "100%",
                  "flex-grow": "1"
                },
                "spacing": {}
              },
              "blocks": [
                {
                  "type": "heading",
                  "settings": {
                    "heading": "Slide 3"
                  }
                },
                {
                  "type": "text",
                  "settings": {
                    "text": "<p>This is the third slide</p>"
                  }
                },
                {
                  "type": "link",
                  "settings": {
                    "label": "Link for slide 3"
                  }
                }
              ]
            }
          ]
        },
        {
          "type": "slideshow-controls",
          "settings": {
            "pagination_style": "dots"
          },
          "static": true,
          "id": "controls-for-slideshow"
        }
      ]
    }
  ]
}
{% endschema %}
